body{
	background:#333;
}

#page-wrape:after{
	content: "Smartphone Layout";
}

h2 span, section h3{
	display: none;
}

body{
	font-size: xx-large;
}

footer, input{
	font-size: large;	
}
 img{
 	height: 100px;
 	width: 90px;
 	border: 2px solid #DCA114;
 	border-radius: 2em;
 }