
<label for="pregunta">Pregunta</label>
<input type="text" id="pregunta" name=quiz[pregunta] value="<%= quiz.pregunta %>" placeholder="pregunta" ></input> <br/>
<label for="respuesta">Respuesta</label>
<input type="text" id="respuesta" name=quiz[respuesta] value="<%=quiz.respuesta%>" placeholder="respuesta" ></input><br/>
<select name=quiz[tema]>
<%for(var i=0;i<temas.length;i++){%>
  <option value="<%=temas[i]%>"><%=temas[i]%></option>  
  <%}%>
</select><br/>
<a href="/quizes"><input type="button" value="Cancelar"></input></a>  
<input type="submit"  value="Guardar" />
