
	<form method="get" action="/quizes/answer">
		Pregunta:<%= pregunta %> <p>
		<input type="text" name="respuesta" placeholder="responda aqui"></input>
		<input type="submit" value="Enviar"></input>
	</form>
