<h2>Busqueda de preguntas</h2>
<form method="get" action="">		
	<input type="search" id="search" name="search" placeholder="Escriba su consulta"/>
	<input type="submit" value="Enviar"></input>
</form>
<div id="datos">
	<table>
		<td>
			<tr></tr>
		</td>
	</table>
</div>