<h2>Busqueda de preguntas</h2>
<form method="get" action="" id="quiz">		
	<input type="search" id="search" name="search" placeholder="Escriba su consulta" class="form-control" />
	<button  class="btn btn-primary">Enviar</button>
</form>
<div id="datos">
	<table>
		<td>
			<tr></tr>
		</td>
	</table>
</div>