<div id="quiz">
	<form method="get" action="/quizes/<%= quiz.id %>/answer">
		<label for="respuesta" >Pregunta:<%=quiz.pregunta%></label> <br/>
		<input type="text" id="respuesta" class="form-control" name="respuesta" placeholder="Respuesta"  ></input>
		<button type="submit" class="btn btn-success">Validar</button>	
	</form>
	<p><a href="/quizes/<%=quiz.id%>/comments/new"><button>Nuevo comentario</button></a></p>
	<p><strong>Comentarios: </strong></p>
	<% for(index in quiz.Comments){ %>
			<p>-<%= quiz.Comments[index].texto %></p>
	<%}%>
</div>